extends layout

block content
    h1 Browser Differences

    script(src='/js/browserdiff-1.js')
    script(src='/js/browserdiff-2.js')
    script(src='/js/browserdiff-3.js')
    script(src='/js/syntax-error.js')
