extends layout

block content
  table
    tr
      td
        b Open in Chrome 123:
      td
        a(href="/browserdif") Browser Differences
      td
        a(href="/res-code-0") Response Code 0
    tr
      td
        b Open in Firefox:
      td
        a(href="/browserdif") Browser Differences