extends layout

block content
  table
    tr
      td
        b Open in Chrome:
      td
        a(href="/browserdif") Browser Differences
      td
        a(href="/res-code-0") Response Code 0
      td
        a(href="/different-error-msg") Different error message
    tr
      td
        b Open in Firefox:
      td
        a(href="/browserdif") Browser Differences