doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://browser.plumbr.io/pa.js', crossorigin='anonymous', data-plumbr='{ "accountId":"3cj3jd279pgk868hlrbd5mg0nk", "appName":"jsErrorTest", "serverUrl":"https://bdr.plumbr.io" }')
  body
    block content
