doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    script(src="//d2wy8f7a9ursnm.cloudfront.net/v4/bugsnag.min.js")
    script.
      window.bugsnagClient = bugsnag('cb1976bd101c680d656723e14676cbdf')

  body
    block content
