doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')


    script(src="//dmc1acwvwny3.cloudfront.net/atatus.js")
    script.
        atatus.config('1bc20f06a859494a95ce203c64363dc1').install();

  body
    block content
