doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //script(src='https://browser.plumbr.io/pa.js', crossorigin='anonymous', data-plumbr='{ "accountId":"3cj3jd279pgk868hlrbd5mg0nk", "appName":"jsErrorTest", "serverUrl":"https://bdr.plumbr.io" }')

    script(src="https://browser.sentry-cdn.com/4.2.4/bundle.min.js", crossorigin="anonymous")
    script Sentry.init({ dsn: 'https://1137c2c709e04836a89fd7b3b3a11566@sentry.io/1316062' })

  body
    block content
