extends layout

block content
    h1 Browser Differences

    script(src='/404/missing-jquery.js')
    script(src='/js/working-js.js')
    script(src='/js/using-jquery.js')
    script.
        $('#laheElement').html('dank meme')
